<div class="experience-container container-fluid">
  <h1 class="experience-heading">Highlights</h1>
  <div class="project-cards-container center container">
    {{#each projects as |project|}}
      {{project-card project=project}}
    {{/each}}
  </div>
</div>
