<h1 class="experience-heading">What do I do?</h1>
<p class="experience-caption text-center">Click to find out!</p>
<div class="project-cards-container container-fluid">
  <div class="row">
    {{#each projects as |project index|}}
      {{project-card project=project projectCardShouldBeFullWidth=(project-card-should-be-full-width index projects) classNames="project-card-cell col-12"}}
    {{/each}}
  </div>
  {{footer-description}}
</div>
