<div class="experience-container container-fluid">
  <h1 class="experience-heading">Highlights</h1>
  <div class="project-cards-container center container">
    {{project-card}}

    {{project-card}}
  </div>
</div>
