<div class="profile-content row align-items-center">
  <div class="col-3 col-md-4 col-lg-1" aria-hidden="true"></div>
  <button type="button" class="col-6 col-md-4 col-lg-3 profile-cell btn btn-link" aria-hidden="true" onclick={{action 'handleProfilePictureClick'}}>
    <img src={{currentProfilePictureSrc}} alt="Headshot" class="profile-picture rounded-circle img-responsive center-block">
  </button>
  <div class="visible-3 visible-md-4" aria-hidden="true"></div>

  <div class="col-12 col-lg-8 profile-cell profile-text-cell">
    <h1 class="profile-title">
      Jonathan Chan

    </h1>
    <h6 class="mt-2 mb-3">
      <code class="text-muted">
        <abbr title="As an anti-spam measure, this address has been obfuscated. Please type it yourself.">{{!--
          --}}hi&#64;j&#x43e;nathanchan&#x2024;me{{!--
        --}}</abbr>{{!--
        --}}{{blinking-cursor}}
      </code>
    </h6>
    <p class="profile-subtitle lead">
      Software Engineer,
      <a href="https://www.apple.com/apple-vision-pro" target="_blank" rel="noopener noreferrer" class="text-body">Apple</a>
    </p>
    <p class="profile-subtitle lead text-muted">
      <a href="https://www.northwestern.edu" target="_blank" rel="noopener noreferrer" class="text-muted">Northwestern University</a>
      &#8217;2020
    </p>
    <ul class="profile-links">
      {{#each profileLinks as |profileLink|}}
        {{profile-link-button profileLink=profileLink tagName='li' classNames='profile-link-item'}}
      {{/each}}
    </ul>
  </div>
</div>