<div class="profile-content row align-items-center">
  <div class="col-3 col-md-4 col-lg-1" aria-hidden="true"></div>
  <button type="button" class="col-6 col-md-4 col-lg-3 profile-cell" aria-hidden="true" onclick={{action 'handleProfilePictureClick'}}>
    <img src={{currentProfilePictureSrc}} alt="Headshot" class="profile-picture rounded-circle img-responsive center-block">
  </button>
  <div class="visible-3 visible-md-4" aria-hidden="true"></div>

  <div class="col-12 col-lg-8 profile-cell profile-text-cell">
    <h1 class="profile-title">
      Jonathan Chan

    </h1>
    <h6 class="mt-2 mb-3"><code class="text-muted">j&#x43e;nathanchan&#64;u&#8228;n&#x43e;rthwestern&#x2024;edu{{blinking-cursor}}</code></h6>
    <p class="profile-subtitle lead">Computer Science &amp; Linguistics, Northwestern University &#8217;2020</p>
    <ul class="profile-links">
      {{#each profileLinks as |profileLink|}}
        {{profile-link-button profileLink=profileLink tagName='li' classNames='profile-link-item'}}
      {{/each}}
    </ul>
  </div>
</div>