<div class="project-card-cell col-md-6 col-xs-12">
  <div class="project-card text-center">
    <img src="meowlwatch-logo.png" alt="MeowlWatch Logo" class="project-icon">
    <h2>MeowlWatch</h2>
    <span>Some description. Blablaba bldklfja.</span>
  </div>
</div>
