<div class="project-card-cell col-md-6 col-xs-12">
  <div class="project-card text-center">
    <img src={{project.iconPath}} alt={{project.iconAltText}} class="project-icon">
    <h2>{{project.title}}</h2>
    <p>{{project.description}}</p>
  </div>
</div>

<!-- <div class="clearfix hidden-xs"></div> -->
