/** helpers */

.scroll-indicator {
  font-size: 18pt;
  animation: 0.5s ease-in-out infinite alternate bounce-scroll-indicator;
  -webkit-animation: 0.5s ease-in-out infinite alternate bounce-scroll-indicator;
}

@media (min-width: 768px) { /* >= sm */
  .scroll-indicator {
    animation: 0.5s ease-in-out infinite alternate bounce-scroll-indicator;
    -webkit-animation: 0.5s ease-in-out infinite alternate bounce-scroll-indicator;
  }
}

@keyframes bounce-scroll-indicator {
  from {
    bottom: 52px;
  }
  to {
    bottom: 64px;
  }
}

@-webkit-keyframes bounce-scroll-indicator {
  from {
    bottom: 52px;
  }
  to {
    bottom:   64px;
  }
}

.no-select, img {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/** index route */

.profile-container {
  padding: 34px 0;
  overflow-y: auto;
    height: 100vmax;
}

@media (min-width: 768px) { /* >= sm */
  .profile-container {
    height: 100vh;
    overflow-y: hidden;
  }
}

.profile-container, .profile-link-button, body {
  background-color: #f7f7f9;
}

.profile-link-button {
  font-size: 15px;
  font-weight: 400;
}

.profile-content {
  overflow-y: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 992px) { /* >= md */
  .profile-content {
    height: 100%;
  }
}

.profile-cell {
  text-align: center;
}

@media (min-width: 992px) { /* >= md */
  .profile-cell {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.profile-picture {
  width: 100%;
}

@media (min-width: 992px) { /* >= md */
  .profile-title {
    font-size: 48px;
  }

  .profile-subtitle {
    font-size: 20px;
  }
}

.profile-icon {
  height: 18px;
}

.profile-link-item {
  display: inline;
}

/** experience */

.experience-container {
  background-color: #53669b;
  background: linear-gradient(to bottom, #37415c, #53669b);
  background-repeat: repeat-x;
  min-height: 1000px;
  color: #fff;
}

.experience-heading {
  text-align: center;
}

.project-cards-container {
  margin-top: 40px;
  width: 66.67%;
}

.project-card-cell {
  padding: 7px;
}

.project-card {
  border: solid 1px #fff;
  border-radius: 5px;
  padding: 15px;
}

.project-icon {
  width: 100px;
  border-radius: 20px;
}
