/** helpers */

.scroll-indicator {
  /*position: absolute;*/
  top: -50%;
  font-size: 18pt;
  animation: 0.5s ease-in-out infinite alternate bounce-scroll-indicator;
}

@keyframes bounce-scroll-indicator {
  from {
    bottom: 30px;
  }
  to {
    bottom: 38px;
  }
}

/** index route */

.profile-container {
  padding: 34px 0;
  overflow-y: auto;
}

@media (min-width: 992px) { /* >= md */
  .profile-container {
    height: 100vh;
    overflow-y: hidden;
  }
}

.profile-container, .profile-link {
  background-color: #f7f7f9;
}

.profile-content {
  overflow-y: auto;
  position: relative;
}

@media (min-width: 992px) { /* >= md */
  .profile-content {
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
}

.profile-cell {
  text-align: center;
}

@media (min-width: 992px) { /* >= md */
  .profile-cell {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
}

.profile-picture {
  width: 100%;
}

.profile-icon {
  height: 18px;
}

.experience-container {
  background-color: #53669b;
  background: linear-gradient(to bottom, #37415c, #53669b);
  background-repeat: repeat-x;
  min-height: 1000px;
}

.experience-heading {
  text-align: center;
  color: #fff;
  margin-top: 60px;
}
