.experience-container {
  background: linear-gradient(to bottom, #3b6576, #577aac);
  background-repeat: repeat-x;
  color: #ddd;
  padding: 50px 0;
}

.experience-heading {
  text-align: center;
  color: #fff;
}

.experience-caption {
  color: #bbb;
  font-size: 1.5rem;
}

.project-cards-container {
  margin-top: 40px;
  width: 100%;
}

@media (min-width: 768px) {
  .project-cards-container {
    width: 66.67%;
  }
}

.project-card-cell {
  padding: 7px;
}

.project-card {
  border: solid 1px #ddd;
  border-radius: 5px;
  padding: 15px;
  height: 100%;
  -o-transition:0.15s;
  -ms-transition:0.15s;
  -moz-transition:0.15s;
  -webkit-transition:0.15s;
  transition:0.15s;
}

.project-card-cell:hover {
  text-decoration: none;
}

.project-card:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.project-card-description a {
  color: #f0f0f0;
  text-decoration: underline;
}

.project-card-title {
  font-size: 1.8rem;
  color: #fff;
}

.project-card-description {
  color: #ddd;
}

.project-card-icon {
  max-height: 100px;
  max-width: 100%;
  margin: 15px 0;
}

.project-card-icon-masked {
  border-radius: 20%;
}
