.experience-container {
  /*background-color: #53669b;*/
  background: linear-gradient(to bottom, #3b6576, #577aac);
  background-repeat: repeat-x;
  color: #ddd;
  padding: 50px 0;
}

.experience-heading {
  text-align: center;
  color: #fff;
}

.project-cards-container {
  margin-top: 40px;
  width: 100%;
}

@media (min-width: 768px) {
  .project-cards-container {
    width: 66.67%;
  }
}

.project-card-cell {
  padding: 7px;
}

.project-card {
  border: solid 1px #ddd;
  border-radius: 5px;
  padding: 15px;
  height: 100%;
}

.project-card-cell > a:hover {
  text-decoration: none;
}

.project-card:hover {
  background-color: #657bbb;
  cursor: pointer;
}

.project-card-description a {
  color: #bbb;
  text-decoration: underline;
}

.project-card-title {
  font-size: 1.8rem;
  color: #fff;
}

.project-card-description {
  color: #ddd;
}

.project-card-icon {
  height: 100px;
  max-width: 100%;
  border-radius: 20px;
  margin: 15px 0;
}
