.profile-container {
  padding: 34px 0;
  overflow-y: auto;
    height: 100vmax;
}

@media (min-width: 768px) { /* >= md */
  .profile-container {
    height: 100vh;
    overflow-y: hidden;
  }
}

.profile-container, body {
  background-color: #f7f7f9;
  overflow-x: hidden;
}

.profile-links {
  padding: 0;
}

.profile-link-button {
  font-size: 15px;
  font-weight: 400;
}

.profile-content {
  height: 100%;
  margin: 0;
}

.profile-cell {
  text-align: center;
}

.profile-text-cell {
  top: -10%;
}

@media (min-width: 992px) { /* >= lg */
  .profile-text-cell {
    top: auto;
  }
}

.profile-picture {
  width: 100%;
}

@media (min-width: 992px) { /* >= lg */
  .profile-title {
    font-size: 48px;
    margin-top: 40px;
  }

  .profile-subtitle {
    font-size: 20px;
  }
}

.profile-icon {
  height: 15px;
  margin-top: -4px;
}

.profile-link-item {
  margin-bottom: 5px;
  list-style-type: none;
}

@media (min-width: 576px) { /* >= sm */
  .profile-link-item {
    display: inline;
    margin-bottom: 0;
  }
}

/** scroll indicator */
.scroll-indicator {
  font-size: 18pt;
  animation: 0.5s ease-in-out infinite alternate bounce-scroll-indicator;
  -webkit-animation: 0.5s ease-in-out infinite alternate bounce-scroll-indicator;
  height: 0;
}

@media (min-width: 768px) { /* >= md */
  .scroll-indicator {
    animation: 0.5s ease-in-out infinite alternate bounce-scroll-indicator;
    -webkit-animation: 0.5s ease-in-out infinite alternate bounce-scroll-indicator;
  }
}

@keyframes bounce-scroll-indicator {
  from {
    bottom: 52px;
  }
  to {
    bottom: 64px;
  }
}

@-webkit-keyframes bounce-scroll-indicator {
  from {
    bottom: 52px;
  }
  to {
    bottom:   64px;
  }
}
