.profile-container {
  padding: 34px 0;
  overflow-y: auto;
  height: 100vmax;
}

@media (width >= 768px) {
  /* >= md */
  .profile-container {
    height: 100vh;
    overflow-y: hidden;
  }
}

.profile-container,
body {
  background-color: #f7f7f9;
  overflow-x: hidden;
}

.profile-subtitle {
  margin: 0;
}

.profile-links {
  padding: 0;
  margin: 1rem auto;
}

.profile-link-button {
  font-size: 15px;
  font-weight: 400;
}

.profile-content {
  height: 100%;
  margin: 0;
}

.profile-cell {
  text-align: center;
}

.profile-text-cell {
  top: -5%;
}

@media (width >= 992px) {
  /* >= lg */
  .profile-text-cell {
    top: auto;
  }
}

.profile-picture {
  width: 100%;
  cursor: pointer;
}

@media (width >= 992px) {
  /* >= lg */
  .profile-title {
    font-size: 48px;
    margin-top: 40px;
  }

  .profile-subtitle {
    font-size: 20px;
  }

  .profile-subsubtitle {
    margin-top: 8pt;
    font-size: 14px;
  }
}

.profile-icon {
  height: 15px;
  margin-top: -4px;
}

.profile-link-button:hover .profile-icon {
  filter: invert(100%);
}

.profile-link-item {
  margin-bottom: 5px;
  list-style-type: none;
}

@media (width >= 576px) {
  /* >= sm */
  .profile-link-item {
    display: inline;
    margin-bottom: 0;
  }
}
