.no-select,
img {
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/** scroll indicator */
.scroll-indicator {
  position: relative;
  font-size: 18pt;
  animation: 0.5s ease-in-out infinite alternate bounce-scroll-indicator;
  height: 0;
  min-height: 0;
  cursor: pointer;
}

@media (width >= 768px) {
  /* >= md */
  .scroll-indicator {
    animation: 0.5s ease-in-out infinite alternate bounce-scroll-indicator;
  }
}

@keyframes bounce-scroll-indicator {
  from {
    bottom: 52px;
  }

  to {
    bottom: 64px;
  }
}

.scroll-indicator > .btn:active {
  border-color: transparent;
}

/** opacity transition */
.opacity-transition {
  opacity: 0;
  transform: translateY(10%);
  visibility: hidden;
  transition:
    opacity 0.4s ease-out,
    transform 0.4s ease-out;
  will-change: opacity, visibility;
}

.opacity-transition.opacity-transition-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/** content-route-container */

@media (prefers-color-scheme: dark) {
  .content-route-container-parent {
    color: rgb(222 226 230);
  }
}

.content-route-container-back-button {
  position: absolute;
  margin: 20px;
}
