<p class="text-center mt-5 mb-2 footer-description">Updated
  <a
    href="https://github.com/NathanJang/nathanjang.github.io"
    target="_blank"
    class="link-light link-underline-opacity-25 link-underline-opacity-100-hover"
    rel="noopener noreferrer"
  > {{app-version versionOnly=true}}</a>. Built with
  <a
    href="https://emberjs.com"
    target="_blank"
    class="link-light link-underline-opacity-25 link-underline-opacity-100-hover"
    rel="noopener noreferrer"
  ><img
      src="/assets/ember-logo.png"
      alt="Ember.js"
      title="Ember.js"
      class="footer-description-ember-logo"
    /></a>.</p>