<div class="profile-container container-fluid">
  <div class="profile-content row align-items-center">
    <div class="col-3 col-md-4 col-lg-1" aria-hidden="true"></div>
    <button
      type="button"
      class="col-6 col-md-4 col-lg-3 profile-cell btn btn-link"
      aria-hidden="true"
      {{on "click" this.handleProfilePictureClick}}
    >
      <img
        src={{this.currentProfilePictureSrc}}
        alt="Headshot"
        class="profile-picture rounded-circle img-responsive center-block"
      />
    </button>
    <div class="visible-3 visible-md-4" aria-hidden="true"></div>

    <div class="col-12 col-lg-8 profile-cell profile-text-cell">
      <h1 class="profile-title">
        Jonathan Chan

      </h1>
      <h6 class="mt-2 mb-3">
        <code class="text-muted">
          <abbr
            title="As an anti-spam measure, this address has been obfuscated. Please type it yourself."
          >{{!
            }}hi&#64;j&#x43e;nathanchan&#x2024;me{{!
          }}</abbr>{{!
          }}<BlinkingCursor
          />
        </code>
      </h6>
      <p class="profile-subtitle lead">
        Software Engineer,
        <a
          href="https://www.apple.com/apple-vision-pro"
          target="_blank"
          rel="noopener noreferrer"
          class="text-body"
        > Apple</a>
      </p>
      <p class="profile-subtitle lead text-muted">
        Seattle, WA, USA
      </p>
      <p class="profile-subsubtitle lead text-muted">
        <a
          href="https://www.northwestern.edu"
          target="_blank"
          rel="noopener noreferrer"
          class="text-muted"
        >🎓 Northwestern University</a>, 2020
      </p>
      <ul class="profile-links">
        {{#each this.profileLinks as |profileLink|}}
          <ProfileLinkButton @profileLink={{profileLink}} />
        {{/each}}
      </ul>
    </div>
  </div>
</div>