<div class="scroll-indicator text-center no-select" aria-hidden="true">
  <button class="btn" type="button" {{on "click" this.click}}>
    <img src="/assets/chevron-down.svg" width="20px" alt="" />
  </button>
</div>